<div class="container p-2">
  <h3 class="mb-3 text-center">Employees List</h3>

  <kendo-grid 
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [filter]="state.filter"
    [sortable]="true"
    [pageable]="true"
    [filterable]="true"
    (dataStateChange)="dataStateChange($event)"  
  >
    <kendo-grid-column field="_id" title="ID">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name">
    </kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name">
    </kendo-grid-column>
    <kendo-grid-column field="project" title="Project">
    </kendo-grid-column>
    <kendo-grid-column title="Join Date">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.joinDate!=null">{{ dataItem.joinDate | date:'yyyy-MM-dd' }}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Status">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.status==true">Active</div>
            <div *ngIf="dataItem.status==false">Inactive</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Action" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span class="edit" routerLink="/employee-detail/{{dataItem._id}}">Edit</span>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>